page-home {
  ion-navbar {
    width: 100%;
    text-align: center;

  }

  .but1{
    float: left;
  }
  .cajagrande{
    width: 100%;
    padding: 0;
  }
  div.cajas{
    border: black solid 0.5px;
    height: 30%;
    float: left;
    width: 100%;
    text-align: center;
    padding: 10px;




  }
  .caja2{
  float: right;
  }
  img{
    height: 30px;
    width: 30px;
    border-radius: 10%;
    float: left;
  }

}
